<div class="row">
  <div class="panel panel-success">
	<div class="panel-heading">
		<h1 class="text-center">
		  <%= @castling.name %>
		</h1>
	</div>
	<div class="panel-body">
		<aside class=" col-xs-6">
		  <%= @castling.image_url  %>
		</aside>
		<div class="col-xs-6">
		  <ul class="list-group">
		    <li class="list-group-item list-group-item-success">戦法説明</li>
		    <li class="list-group-item">
		    	<%=  @castling.description %>
		    </li>
		     <li class="list-group-item list-group-item-success">よく使う囲い</li>
		    <li class="list-group-item">
		      <%  @castling.relational_openings.each do |relational_opening| %>
		      <%=  relational_opening.name %>
		      <%  end %>
		    </li>
		  </ul>
		</div>  
	</div>
</div>
</div>