<div class="text-center">
  <h1>戦法一覧</h1>
</div>
<ul class="list-group">
  
  <%  @tags.each do |tag| %>
  <li class="list-group-item dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      
      <span calss="caret"><%= tag.name %></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      
      <% tag.relational_openings.each do |relational_opening|   %>
      <li role="presentation">
        <div class="text-center"><%= link_to relational_opening.name, relational_opening  %></div>
      </li>
      <%  end %>
      
    </ul>
  </li>
  
  <%  end %>
 
</ul>