<%  if logged_in? %>

  
      
      <%= form_for(@game_record_comment) do |f| %>
      
      <div class="form-group">
        
        
        <%= f.text_area :content, class: "form-control", rows: 5  %>
        
      
        <%= hidden_field_tag :game_record_id, game_record.id %>
        
      </div>
      
        <%= f.submit "この棋譜へコメントする",class: "btn btn-primary btn-block"  %>
        
        <%  end %>
   


<%  end %>